<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Loja Virtual De Materiais Elétricos</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/admin">Home</a></li>
				<li><a href="/employees/register">Cadastrar</a></li>
				<li><a href="/employees/list">Listar</a></li>
			</ul>
		</nav>
	</header>
	<h1>Cadastrar Usuários</h1>
</body>
</html>